.category_section {
  max-width: 1050px;
  margin: 0 auto;
}

.b-title {
  font-family: "Work Sans", sans-serif;
  font-weight: 600;
  font-size: 2.375rem;
  color: #ffffff;
  padding-bottom: 4.375rem;
}

.Category_cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
  grid-template-rows: auto auto;
  grid-gap: 1.5625rem;
}

.category-card {
  color: #ffffff;
  width: 100%;
  border-radius: 1.25rem;
  background-color: #3b3b3b;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.1);
  text-align: start;
  overflow: hidden;
  position: relative;
  transition: transform 0.3s;
}

.category-card:hover {
  background-color: #4b4b4b;
  box-shadow: 0 0.5rem 0.75rem rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transform: scale(0.95);
}

.icon-overlay {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

.category-card img {
  width: 100%;
  height: auto;
  filter: blur(0.1875rem);
}

.category-card p {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-family: "Work Sans", sans-serif;
  font-weight: 500;
  font-size: 1.125rem;
  line-height: 1.5;
  margin-left: 0.9375rem;
}

@media (max-width: 900px) {
  .category-section {
    margin: 0 1.25rem 0 6.25rem;
  }
  .b-title {
    margin-left: 1.875rem;
  }

  .Category_cards {
    grid-template-columns: repeat(auto-fit, minmax(12.5rem, 1fr));
    margin: 0 1.875rem 0 1.875rem;
  }
}

@media (max-width: 430px) {
  .category_section {
    margin: 0;
    padding: 0 !important;
  }

  .Category_cards {
    display: grid;
    grid-template-columns: repeat(2, minmax(9.21875rem, 1fr));
    grid-template-rows: repeat(4, minmax(13.0625rem, 1fr));
  }

  .category-card {
    width: 9.21875rem;
    height: 13.0625rem;
  }

  .category-card p {
    font-size: 0.75rem;
  }
}
