.discover_section {
  max-width: 1050px;
  font-family: "Work Sans", sans-serif;
  color: #ffffff;
  margin: 130px auto 70px auto;
  padding: 0 20px;
}

.discover_section .discover-content {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 60px;
}

.discover-content .heading {
  font-weight: 600;
  font-size: 38px;
  padding-bottom: 15px;
}

.discover-content .sub-heading {
  font-weight: 400;
  font-size: 22px;
}

.discover_cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.informations {
  width: calc(33.33% - 10px);
  max-width: 320px;
  margin-bottom: 20px;
  border-radius: 20px;
  background-color: #3b3b3b;
}

.informations:hover {
  background-color: #4b4b4b;
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
  cursor: pointer;
}

.informations img {
  width: 100%;
  height: auto;
}

.informations .avatar_image {
  width: 24px;
  height: 24px;
}

.discover_cards .informations .text-1 {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}

.discover_cards .informations .text-2 {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Space Mono', monospace;
  padding-left: 10px;
}

.informations > div {
  margin-top: 10px;
}

.discover_cards .informations .information-2 {
  display: flex;
  justify-content: space-between;
  margin: 25px 25px;
  font-family: 'Space Mono', monospace;
  font-weight: 400;
}

@media only screen and (max-width: 900px) {
  .informations {
    width: calc(50% - 10px);
  }

  .discover_cards .informations:nth-child(n + 3) {
    display: none;
  }
}

@media only screen and (max-width: 430px) {
  .informations {
    width: calc(100% - 10px);
  }
  .discover_cards .informations:nth-child(n + 3) {
    display: block;
  }
  .discover_cards {
    margin-left: 25px;
  }
}
