footer {
  background: #3b3b3b;
}

.footer-sec {
  max-width: 980px;
  display: flex;
  justify-content: space-between;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 16px;
  color: #cccccc;
  padding-top: 30px;
  margin-bottom: 20px;
}

.footer-sec .branding {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

.footer-sec .explore {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

.footer-sec .weekly {
  font-family: "Space Mono", monospace;
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
}

.footer-sec p {
  margin-bottom: 25px;
}

.sm-links {
  display: flex;
  gap: 10px;
}

.sm-links a {
  color: #858584;
  cursor: pointer;
}

.sm-links .discord:hover {
  color: RGB(114, 137, 218);
}

.sm-links .youtube:hover {
  color: RGB(255 0 0);
}

.sm-links .twitter:hover {
  color: RGB(29 161 242);
}

.sm-links .instagram:hover {
  color: #e4405f;
}

.uls {
  list-style: none;
}
.uls a {
  text-decoration: none;
  color: #cccccc;
  display: flex;
  align-content: space-between;
  margin-bottom: 25px;
}

.uls a:hover {
  color: #ffffff;
}

.inputWithButton-fo {
  display: flex;
  width: 420px;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  background-color: #ffffff;
  border-radius: 20px;
}

.inputField-fo {
  height: 60px;
  background: none;
  border: 0;
  padding: 0;
  outline: none;
  font-family: "Work Sans", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

.hr-p {
  width: 1050px;
  margin: 0 auto;
  color: #cccccc;
  font-family: "Work Sans", sans-serif;
  font-weight: 400;
  font-size: 12px;
  border-top: 1px solid #cccccc;
  padding: 20px;
}

@media screen and (max-width: 900px) {
  .footer-sec {
    flex-direction: column;
    padding: 20px;
    gap: 20px;
  }

  .img-f {
    height: 32px;
    width: 32px;
  }

  .inputWithButton-fo {
    display: flex;
    width: 320px;
    justify-content: center;
    align-items: center;
    padding-left: 20px;
    background-color: #ffffff;
    border-radius: 20px;
  }
  .hr-p {
    border: 0;
    width: 300px;
  }
}
