.how-it-works-section {
  max-width: 1050px;
  margin-top: 70px;
  margin-bottom: 50px;
  font-family: 'Work Sans', sans-serif;
  color: #FFFFFF;
}

.text_boxes {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.how-it-works-item {
  width: 330px;
  height: 439px;
  background-color: #3b3b3b;
  padding: 20px;
  border-radius: 20px;
  text-align: center;
  color: #ffffff;
  font-family: "Work Sans", sans-serif;
  transition: transform 0.3s;
}

.how-it-works-item:hover {
  background-color: #4b4b4b;
  box-shadow: 0 8px 12px rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transform: scale(0.95);
}

.how-it-works-item img {
  width: 250px;
  height: 250px;
  margin-bottom: 10px;
}

.how-it-works-item .aa .p-heading {
  font-weight: 600;
  font-size: 22px;
  padding-bottom: 10px;
}

.how-it-works-item .aa .p-text {
  font-weight: 400;
  font-size: 16px;
}

@media screen and (max-width: 900px) {
  .how-it-works-section {
    margin-left: 20px;
    margin-right: 20px;
  }

  .how-it-works-item {
    width: calc(50% - 20px);
    height: 330px;
    margin: 0 10px;
  }

  .how-it-works-item img {
    width: 160px;
    height: 160px;
    margin-bottom: 10px;
  }

  .how-it-works-item .aa .p-heading {
    font-size: 16px ;
  }

  .how-it-works-item .aa .p-text {
    font-size: 12px ;
  }
}

@media screen and (max-width: 430px) {
  .text_boxes {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .how-it-works-section {
    margin-left: 15px;
    right: 25px;
  }

  

  .how-it-works-item {
    width: 315px;
    height: 157px;
    margin: 0 10px;
    display: flex;
    gap: 10px;
  }
  .aa {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    justify-content:center;
  }

  .how-it-works-item img {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
  }
}
